{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block content %}
    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>USER UPDATE</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/user">My Account</a></li>
                        <li class="breadcrumb-item active"> USER UPDATE</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="wishlist-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="media">
                        <img class="img-fluid" src="{{ user.userprofile.image.url }}" alt="" />
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form.as_p}}
                            {{ profile_form.as_p }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn hvr-hover" type="submit">Update Profile</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}